{% extends "graficas/base_graficas.html" %}
{% block contenido %}
  <div id="container" style="min-width: 420px; max-width: 80%; height: 600px; margin: 0 auto"></div>

<div style="display:none">
    <!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
    <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tr nowrap bgcolor="#CCCCFF">
            <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
        </tr>
        <tr nowrap bgcolor="#CCCCFF">
            <th class="freq">Direction</th>
            {% for year in years %}
              <th class="freq">{{year}}</th>
            {% endfor %}
            <th class="freq">Total</th>
        </tr>
        {% for key, value in data.items %}
        <tr nowrap>
            <td class="dir">{{key}}</td>
            {% for val in value  %}
                <td class="data">{{val.sucesos}}</td>
                {% if forloop.last %}
                <td class="data">{{val}}</td>
                {%endif%}
            {% endfor %}

        </tr>  
        {% endfor %}   

        <tr nowrap>
            <td class="totals">Total</td>
            <td class="totals">1.265822</td> {# Total por Todos Estados por año 1 (2006) #}
            <td class="totals">2.531642</td>
            <td class="totals">3.797463</td>
            <td class="totals">3.797472</td>
            <td class="totals">5.063285</td>
            <td class="totals">6.962024</td>
            <td class="totals">9.493668</td>
            <td class="totals">11.392387</td>
            <td class="totals">19.620253</td>
            <td class="totals">13.91133</td>
            <td class="totals">22.784797</td>
            <td class="totals">&nbsp;</td>
        </tr>
    </table>
</div>
{% endblock contenido %}
{% block jsblock %}
  {{block.super}}
  <script>
        $(function () {

    // Parse the data from an inline table using the Highcharts Data plugin
    Highcharts.chart('container', {
        data: {
            table: 'freq',
            startRow: 1,
            endRow: 25, //Num de estados
            endColumn: 11 //Num de años
        },

        chart: {
            polar: true,
            type: 'column'
        },

        title: {
            text: 'Notas de Fosas Clandestinas por Estado'
        },

        subtitle: {
            text: 'Periódicos, Televisión, etc.'
        },

        pane: {
            size: '85%'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },

        xAxis: {
            tickmarkPlacement: 'on'
        },

        yAxis: {
            min: 0,
            endOnTick: false,
            showLastLabel: true,
            title: {
                text: 'Frecuencia (%)'
            },
            labels: {
                formatter: function () {
                    return this.value + '%';
                }
            },
            reversedStacks: false
        },

        tooltip: {
            valueSuffix: '%'
        },

        plotOptions: {
            series: {
                stacking: 'normal',
                shadow: false,
                groupPadding: 0,
                pointPlacement: 'on'
            }
        }
    });
});
  </script>
{% endblock jsblock %}